.head-grid .cell:first-child {
  border-radius: 8px 0 0 8px;
}
.head-grid .cell:last-child {
  border-radius: 0 8px 8px 0;
}

.cell {
  position: relative;
  background-color: var(--c-32);
  padding: 10px;
  cursor: pointer;
}
.head-grid .cell {
  text-align: center;
  background-color: var(--c-24);
  cursor: default;
}
.cell.empty {
  filter: brightness(0.6);
  cursor: default;
}
.cell h5 {
  margin-bottom: 8px;
}
.cell .eventList {
  height: calc(100% - 24px);
  display: grid;
  gap: 4px;
  grid-template-rows: repeat(2, 1fr);
}
.cell .eventItem {
  cursor: grab;
  display: flex;
  align-items: center;
  background: var(--c-16);
  border-radius: 4px;
  padding: 4px;
  padding-left: 16px;
  position: relative;
}
.cell .eventItem.grabbed {
  cursor: grabbing;
}
.cell .eventItem::after {
  content: "";
  border-radius: 4px 0 0 4px;
  height: 100%;
  position: absolute;
  left: 0px;
  width: 8px;
  background-color: #4282e2;
}