.head-grid .cell:first-child {
  border-radius: 8px 0 0 8px;
}
.head-grid .cell:last-child {
  border-radius: 0 8px 8px 0;
}

.cell {
  position: relative;
  background-color: var(--c-32);
  padding: 10px;
}
.head-grid .cell {
  text-align: center;
  background-color: var(--c-24);
  cursor: default;
}
.cell.empty {
  filter: brightness(0.6);
  cursor: default;
}
.cell h5 {
  margin-bottom: 8px;
  flex: 1;
}
.cell h5 span {
  color: var(--c-64);
}
.cell .header {
  display: flex;
  flex-direction: row;
}
.cell .header img {
  height: 20px;
  background-color: var(--c-0d);
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}
